<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference type="Theshreyas\FetchProductById\Model\Resolver\Product\DataProvider\ProductDataProvider" for="Theshreyas\FetchProductById\Model\Resolver\Product\DataProvider\ProductDataProviderInterface"/>
</config>
