<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Amazon\Payment\Gateway\Response\CompleteAuthHandler" type="Theshreyas\Amazonpay\Rewrite\Amazon\Payment\Gateway\Response\CompleteAuthHandler"/>

	<preference for="Amazon\Payment\Gateway\Data\Order\OrderAdapter" type="Theshreyas\Amazonpay\Rewrite\Amazon\Payment\Gateway\Data\Order\OrderAdapter"/>
	
	<preference for="Amazon\Payment\Gateway\Response\CompleteSaleHandler" type="Theshreyas\Amazonpay\Rewrite\Amazon\Payment\Gateway\Response\CompleteSaleHandler"/>

    <type name="Magento\Quote\Model\PaymentMethodManagement">
        <plugin name="confirm_order_reference_on_payment_details_save" disabled="true"/>
    </type>

    <type name="Magento\Quote\Model\PaymentMethodManagement">
        <plugin name="theshreyas_confirm_order_reference_on_payment_details_save" type="Theshreyas\Amazonpay\Plugin\ConfirmOrderReference" sortOrder="1" disabled="false"/>
    </type>

    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="amazon_payment_shipping_information_management" disabled="true"/>
    </type>
    <type name="Magento\Quote\Model\PaymentMethodManagement">
        <plugin name="theshreyas_amazon_payment_shipping_information_management" type="Theshreyas\Amazonpay\Plugin\ShippingInformationManagement" sortOrder="1" disabled="false"/>
    </type>
</config>
