<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Customer\Model\EmailNotification">
        <plugin name="stop_welcome_email" sortOrder="1" type="Shrm\CustomerStopEmail\Plugin\EmailNotificationPlugin" />
    </type>
</config>