<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- To Reduce the length of Magento Increment Id from 9 to 5 -->
    <type name="Magento\Framework\DB\Sequence\SequenceInterface">
        <arguments>
            <argument name="pattern" xsi:type="string">%s%'.05d%s</argument>
        </arguments>
    </type>
	<!-- "%s%'.09d%s" 	= Default Pattern -->
	<!-- "ABC%s%'.09d%sDFG" = ABC is an order increment ID prefix, and DFG is postfix. -->
</config>
