<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
	<router id="admin">
		<route id="ZipCms" frontName="cmsfeaturedimage">
			<module name="Theshreyas_CmsImage" before="Magento_Adminhtml" />
		</route>
	</router>
</config>